Configure a Security Group

Security group name: Type SG1.
Description: Type my instance.


Create an EC2 Instance

Under Name and Tags, enter 'My Instance' as the instance name.
Under Application and OS Images (Amazon Machine Image), ensure Amazon Linux AMI is selected.
Under Instance type, click on the dropdown menu and select t3.micro.
enter keypair1 as the key pair name.

Auto-assign public IP, click on the dropdown menu and select Enable.
Under Firewall (security groups), choose Select existing security group.
Under Common security group, select the SG1 security group you just created.
